
#login-div{
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    display: none;
}
#register-div{
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    display: none;
}
.login-main-ul img{
    display: block;
    float: right;
    padding: 5px;
}
.login-main-ul li{
    padding: 10px;
    z-index: 100;
}
.login-main-div{
    border-radius: 10px;
    margin:0 auto;
    width: 250px;
    background: #c1c1c1;
}
#content-main{
    width: 100%;
    height: auto;
}
#content-main h3{
    margin: 0px;
    padding: 5px;
}
#content-first{
    float: left;
    background: red;
    width: 50%;
}
#content-right{
    float: right;
    width: 50%;
}
#content-second{
    float: left;
    background: blue;
    width: 50%;
}
#content-third{
    float: right;
    background: green;
    width: 50%;
}
#content-third p{
    margin: 0px;
    padding-left: 10px;
}
.toast{
    display: none;
    padding-bottom: 10px;
    color: red;
}