html{
    height: 100%;
}
html,body{
    margin:0px;
    padding: 0px;
}
ul{
    margin: 0px;
    padding:0px;
    list-style: none;
}
.login-ul{
    float: right;
}
.login-ul li{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.login-ul li:hover{
    cursor: pointer;
    background-color: beige;
}
.login-ul .first-li{
    border-right: 1px #000000 solid;
}

.top-toolbar{
    padding-bottom: 10px;
    text-align: center;
}

#login-div{
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    display: none;
}
#register-div{
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    display: none;
}
.login-main-ul{
    border-radius: 10px;
    margin:0 auto;
    width: 250px;
    background: #c1c1c1;
}
.login-main-ul img{
    display: block;
    float: right;
    padding: 5px;
}
.login-main-ul li{
    padding: 10px;
    z-index: 100;
}
#content-main{
    width: 100%;
    height: auto;
}
#content-main h3{
    margin: 0px;
    padding: 5px;
}
#content-first{
    float: left;
    background: red;
    width: 50%;
}
#content-right{
    float: right;
    width: 50%;
}
#content-second{
    float: left;
    background: blue;
    width: 50%;
}
#content-third{
    float: right;
    background: green;
    width: 50%;
}
#content-third p{
    margin: 0px;
    padding-left: 10px;
}
#toast{
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    z-index: 100;
    text-align: center;
}
#toast div{
    margin: 0 auto;
    height: 100%;
    width: 200px;
    background: aquamarine;
    line-height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}