a{
    color: #067e42;
}
#login-div{
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    display: none;
}
#register-div{
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    display: none;
}
.login-main-ul img{
    display: block;
    float: right;
    padding: 5px;
}
.login-main-ul li{
    padding: 10px;
    z-index: 100;
}
.login-main-div{
    border-radius: 10px;
    margin:0 auto;
    width: 250px;
    background: #c1c1c1;
}
/*-----------这里是中间部分的样式*/
#content-main{
    padding-top: 10px;
    width: 100%;
}
#content-main .title-div{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#content-main .title-h3{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 200px;
    background: #ffffff;
    border-radius: 5px;
}
/*对中间三大块的单独设计*/
#content-center{
    margin: 0 auto;
    width: 50%;
}
#content-left{
    width: 25%;
    float: left;
}
#content-right{
    width: 25%;
    float: right;
}

/*内容的div*/
.content-div{
    background: #ffffff;
}
.content-div .content-title{
    background: #B9975B;
    padding: 5px;
    border-bottom: 10px #E9EAEC solid;
}
.content-div .content-title h3,.content-div .content-title p{
    display: inline;
    margin: 0;
}
.content-div .content-title p{
    font-size: 14px;
    float: right;
}
.content-div .content-content a{
    color: #000;
}
.content-div .content-content h4{
    margin: 0px;
    padding-bottom: 10px;
}
.content-div .content-content div{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    border-bottom: 10px #E9EAEC solid;
}
.content-div .content-content div p span{
    color: #067e42;
}
.content-div .content-content div p{
    font-size: 13px;
}
.content-div .content-content div:hover{
    background: #f0f7f4;
}
.content-div p{

}
/*设置三块之间的空白margin*/
.context{
    margin-left: 10px;
    margin-right: 10px;
}
/*------------------toast样式*/
.toast{
    display: none;
    padding-bottom: 10px;
    color: red;
}